html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%;
}
body {
	display: table-cell;
	vertical-align: middle;
}
.logo {
	display: block;
	margin: 0 auto;
}
div {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
}
h1 {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 40px;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
}
p {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
	color: #eee;
}
.button {
	display: inline-block;
	background-color: #F3F315;
	color: #333;
	font-family: 'Roboto Mono', monospace;
	padding: 5px;
}


/*  Mobile */
@media screen and (max-width: 39.9375em) {
h1 {
	font-size: 19px;
}
p, .button {
	font-size: 15px;
}
}

/* Tablet */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
h1 {
	font-size: 32px;
}
p, .button {
	font-size: 18px;
}

}





