body {
	background-color: #eee;
	margin: 0;
	padding-top: 20px;
}
#wrap {
	width: 300px;
	background-color: #fff;
	border: 1px solid #000;
	margin: 0 auto;
	padding: 20px;
}
#logo {
	margin: 0 auto;
	display: block;
	padding-bottom: 5px;
}
#services, p {
	font-family: Arial;
}